// General reset

html,
body {
    margin: 0;
    padding: 0;
    font-size: $font-size-90;
    font-family: $font-family-sans-serif !important;
    line-height: $line-height-100;

    .xiwa-playground {
        font-family: $font-family-sans-serif !important;
    }
}

body {
    background-color: $color-ui-light;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li {
    padding: 0;
    font-size: 100%;
}

// Focus/outline reset

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

a {
    color: initial;
    text-decoration: none;
}

a,
button,
input,
textarea {
    touch-action: manipulation;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
    box-shadow: $box-shadow-focus-outset !important;
}

a:focus-visible,
button:focus-visible {
    outline: none;

    &:active,
    &:hover {
        box-shadow: none;
    }
}

::-moz-selection {
    background-color: $color-primary;
}

::selection {
    background-color: $color-primary;
}

img {
    max-width: 100%;
}

dd {
    margin-bottom: 0;
}